<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body{
      background: #eee;
      max-width: 960px;
      margin: 20px auto;
    }
    p, h3, ul{
      margin: 0;
      padding: 0;
    }
    li{
      list-style-type: none;
      background: #fff;
      margin: 20px auto;
      padding: 10px 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li.fav{
      background: #ff9ed2;
      color: white;
    }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>hello vue :)</h1>
      <!-- atributo binding -->
      <!-- <a v-bind:href="url">Documentation</a> -->
      <div v-if="showBooks">
        <!-- <p>{{title}} - {{author}} - {{age}}</p> -->
         <!-- para evitar esto, mandar a llamar elemento por elemento usamos v-for --> 
       <!--  <p>{{ books[0].title }} {{ books[0].author }}</p>
        <p>{{ books[1].title }} {{ books[1].author }}</p>
        <p>{{ books[2].title }} {{ books[2].author }}</p> -->
        <ul>
            <!-- :class hace referenci al nuevo atributo del objeto -->
            <!-- aqui renderiza todo lo que hay en el objeto -->
            <!-- <li v-for="book in books" :class="{ fav: book.isFav }" @click="toogleFav(book)"> -->
                <!-- aqui solo renderiza si isfav es true, los false los ignora ya que por eso se usa filter -->
                <li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toogleFav(book)">
                <img :src="book.img" alt="book.title">
                <h3>{{ book.title }}</h3>
                <p>{{ book.author }}</p>
            </li>
        </ul>
      </div>
      <button @click="toogleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <!-- la line de comentada del v-if y v-else hacen exactamente lo mismo-->
        <!-- <span v-if="!showBooks">Show Books</span> --> 
        <span v-else>Show Books</span>
      </button>
      <br>
      <!-- mouse events-->
      <div class="box" @mouseover="handleEvent($event,5)">mouseover</div>
      <div class="box" @mouseleave="handleEvent($event,3)">mouseleave</div>
      <div class="box" @dbclick="handleEvent($event,9)">double click</div>
      <div class="box" @mousemove="handleMouseMove">position - {{x}} - {{y}}</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
